.App {
  text-align: center;
  /* background-color: tomato; */
}

.TodoList {
  text-align: left;
  display: inline-block;
  margin: 0.6em;
  padding: 0.6em;
  background-color: #3c4452;
  border-radius: 0.3em;
}

.Task {
  background-color: #282c34;
  margin: 0.3em;
  border-radius: 0.25em;
}

.TaskText {
  display: inline-block;
  padding-top: 0.5em;
  padding-left: 0.3em;
}

.Delete {
  float: right;
  background-color: firebrick;
  color: white;
}

.FormSubmit {
  background-color: darkseagreen;
}

.TodoList .FormTextInput {
  width: calc(100% - 6.5em);
} 

.Form {
  display: inline-block;
  width: 100%;
}

.ListTitle {
  display: inline;
}